$material-light: (
    'background': transparent
);
body {
    background: linear-gradient(180deg, rgba(112,195,243,1) 0%, rgba(255,255,255,1) 55%) !important;
    background-repeat: no-repeat !important;
 }