<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100%">
    <mat-card>
      <mat-card-content>
        <div>
          <!-- TODO Agregar una clase css para esto-->

          <p style="color: #195473; font-size: 18px">
            1 - Carga las <b> LOCALIDADES </b>donde se usara el sistema de turnos.
          </p>
          <p style="color: #195473; font-size: 18px">
            2 - Crea los diferentes <b> TIPOS DE ESPACIOS </b> que quieras gestionar turnos.
          </p>
          <p style="color: #195473; font-size: 18px">
            3 - Crea los <b> ESPACIOS </b> y asígnalos a un <b>TIPO DE ESPACIO</b>. Un espacio se compone de varios
            sectores y es el lugar a reservar.
          </p>
          <p style="color: #195473; font-size: 18px">
            4 - Crea los <b>SECTORES</b> y asígnalos a los <b>ESPACIOS</b>.
          </p>
          <p style="color: #195473; font-size: 18px">
            5 - Crea los <b>TURNOS</b> en los que estara disponible para reserva un sector.
          </p>

          <br>

          <p style="color: #195473; font-size: 18px">
            6 - Busca las reservas hechas desde el <b>Portal</b>.
          </p>
          <p style="color: #195473; font-size: 18px">
            7 - Chack-in de las reservas.
          </p>
          <p style="color: #195473; font-size: 18px">
            8 - Busca las personas que reservaron.
          </p>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>