<div style="max-width:800px; font-size:16px">
    <h4>Reserva de playas - Concepción del uruguay</h4>
    <p>Recibimos la cancelación del turno <b>{{codigo}}</b> para la fecha <b>{{fecha}}</b> asociado a este email.</p>
    <p>
        Si necesitás reservar otro turno, podés hacerlo por el <a href="http://turnos.cdeluruguay.gob.ar/">portal de turnos</a> <br>
        Gracias por tu compromiso
    </p>
</div>
