<h1 mat-dialog-title>Cambiar contraseña</h1>
<div mat-dialog-content>


  <mat-form-field>
    <input matInput tabindex="1" [(ngModel)]="data.data.username" placeholder="Usuario">
  </mat-form-field>

  <form [formGroup]="myForm">
    <mat-form-field>
      <input matInput [(ngModel)]="data.data.password" type="password" placeholder="Password" formControlName="password"
        required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="confirmPassword" placeholder="Confirm password" type="password"
        formControlName="confirmPassword" [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="myForm.hasError('notSame')">
        Las contraseñas deben coincidir
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()" tabindex="2">Cambiar</button>
  <button mat-raised-button color="basic" (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>